body{
    overflow: hidden;
    background-color: #2C2C2C;
    color: #E5E5E5;
  }
#chati{
    height: 340px;
    overflow: auto;

}
   /* html, body {
         height: 100%;
         width: 100%;
     } */
  #mapid{
         height: 41em;
         border-radius: 15px;
  }
  #alertitaNueva{
    display: flex;
    justify-content: center;
  }
  #nuevaAlertaBoton{
    
    border-radius: 4px;
    background-color: rgb(25, 100, 73);
    border: none;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
    width: 140px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  #nuevaAlertaBoton:hover{
    cursor: pointer;
  }
  #formbox{
    width: 60%;
    border-left: 6px solid rgb(25, 100, 73);
    background-color: rgb(49, 49, 49);
    border-radius: 8px;
  }
  #formboxcrear{
    border-left: 6px solid rgb(25, 100, 73);
    background-color: rgb(49, 49, 49);
    border-radius: 8px;
  }
  #spanchat{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  #spanchat::after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  #spanelim{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  #spanelim::after{
    content: ' \2717';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  #spanmod{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  #spanmod::after{
    content: ' \2713';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  #b{
    border-radius: 4px;
    background-color: rgb(25, 100, 73);
    border: none;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
    width: 140px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  #b:hover span::after{
    opacity: 1;
    right: 0;
  }
  #b:hover span{
    padding-right: 10px;
  }
  #container{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
  }
